.focus-page.theme_light {
  --navigation-text-color: #353430;
  --navigation-text-color-hover: #32312d66;
  --header-title-text-color: #ffc2e6;
  --accent-color: #ff8dcb;
  --block-title: #353430;
  --decorated-zone-color: #353430;
  --title-text-decor-color: #353430;
  --title-text-shadow-color: #ff0070;
  --text-block-color: #353430;
  --background-color: #fff1f7;

  background-color: var(--background-color);
  background-image: url(../images/cover-image-light.png);
}

.focus-page.theme_light .focus-rec-decoration {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --navigation-text-color: #353430;
    --navigation-text-color-hover: #32312d66;
    --header-title-text-color: #ffc2e6;
    --accent-color: #ff8dcb;
    --block-title: #353430;
    --decorated-zone-color: #353430;
    --title-text-decor-color: #353430;
    --title-text-shadow-color: #ff0070;
    --text-block-color: #353430;
    --background-color: #fff1f7;
  }

  .focus-page {
    background-color: var(--background-color);
    background-image: url(../images/cover-image-light.png);
  }

  .focus-rec-decoration {
    display: none;
  }
}