.focus-page {
  background-color: var(--background-color);
  background-image: url(../images/cover-image-dark.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.focus-header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  height: 100vh;
  min-height: 668px;
  padding: 10px;
}

.focus-rec-decoration {
  position: absolute;
  top: 10px;
  right: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--accent-color);
  font-size: 18px;
}

.focus-rec-decoration:after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  background-color: var(--accent-color);
}

.focus-decorated-zone::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  border-inline-end: 1px solid var(--decorated-zone-color);
  border-block-start: 1px solid var(--decorated-zone-color);
}

.focus-decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-inline-start: 1px solid var(--decorated-zone-color);
  border-block-end: 1px solid var(--decorated-zone-color);
}

.focus-header__theme-menu {
  height: max-content;
}

.focus-header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}

.focus-header__theme-menu-button {
  border: none;
  border-block-end: 1px solid transparent;
  color: var(--navigation-text-color);
  font-size: 18px;
  text-align: center;
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
  min-inline-size: 70px;
}

.focus-header__theme-menu-button:hover {
  border: 1px solid var(--navigation-text-color-hover);
}

.focus-header__theme-menu-button:focus {
  outline: none;
}

.focus-header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--navigation-text-color);
}

.focus-header__theme-menu-button_active {
  border: 1px solid var(--navigation-text-color);
  pointer-events: none;
}

.focus-header__text {
  color: var(--header-title-text-color);
  font-size: var(--header-text-size);
  line-height: 82.5%;
  text-shadow: 4px 4px 0px var(--title-text-shadow-color);
}

.focus-title-decor {
  height: max-content;
  color: var(--title-text-decor-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  background-color: var(--accent-color);
}

/* Конец Header */

/* Начало main */

.focus-main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 50px;
  padding: 40px 10px;
}

.focus-title {
  color: var(--block-title);
  font-size: 18px;
}

.focus-subtitle {
  margin-block-start: 23px;
}

.focus-text__block {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-block-start: 20px;
}

.focus-text__block-description {
  color: var(--text-block-color);
  font-size: 18px;
  line-height: 23.4px;
}

.focus-text__block-description a {
  border: 1px solid transparent;
  text-decoration: none;
  text-shadow: 1px 1px 0 var(--accent-color);
}

.focus-text__block-description a:hover {
  border-bottom: 1px solid currentColor;
}

.focus-text__block-description a:focus {
  outline: none;
}

.focus-text__block-description a:focus-visible {
  border: 1px solid var(--text-block-color);
}

.focus-thin {
  font-weight: 400;
}

.focus-images {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-block-start: 10px;
}

/* Конец main */

/* Начало Footer */

.focus-footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 668px;
  padding: 10px;
}

/* Конец Footer */

@media (width >= 768px) {
  .focus-header {
    padding: 20px;
  }

  .focus-header__text {
    margin-left: -20px;
    font-size: var(--header-text-size);
  }

  .focus-rec-decoration {
    top: 21px;
    right: 28px;
  }

  .focus-decorated-zone::before {
    top: 20px;
    right: 20px;
  }
  
  .focus-decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .focus-main {
    gap: 80px;
    padding: 60px 20px;
  }

  .focus-block {
    display: grid;
    grid-template-columns: 236px 1fr;
    grid-template-areas: "title text__block";
    gap: 20px;
  }

  .focus-horizontal {
    display: flex;
    flex-direction: column;
  }

  .focus-horizontal .focus-title {
    max-width: min-content;
  }

  .focus-subtitle {
    margin-block-start: 0;
  }

  .focus-blocks {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .focus-textblock {
    justify-self: end;
    align-self: center;
    max-inline-size: 365px;
  }

  .focus-title {
    grid-area: title;
  }

  .focus-text__block {
    grid-area: text__block;
    padding-block-start: 0;
  }

  .focus-images {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
    padding-block-start: 20px;
  }

  img {
    width: 100%;
    object-fit: cover;
  }

  .focus-image:nth-child(1) {
    grid-area: 1 / 1 / 2 / 3;
    height: 192px;
  }

  .focus-image:nth-child(2) {
    grid-area: 1 / 3 / 3 / 4;
    height: 441px;
  }

  .focus-image:nth-child(3) {
    grid-area: 2 / 1 / 4 / 2;
    height: 568px;
  }

  .focus-image:nth-child(4) {
    grid-area: 2 / 2 / 3 / 3;
    width: 230px;
  }

  .focus-image:nth-child(5) {
    grid-area: 3 / 2 / 4 / 4;
    height: 318px;
  }

  .focus-footer__text {
    margin: 0px;
    text-shadow: 2px 2px 0px var(--title-text-shadow-color);
  }
}

@media (width >= 1024px) {
  .focus-header__theme-menu {
    align-self: start;
  }

  .focus-header__text {
    font-size: var(--header-text-size);
  }

  .focus-header__theme-menu-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .focus-block {
    grid-template-columns: 315px 1fr;
  }

  .focus-textblock {
    max-inline-size: 491px;
  }

  .focus-horizontal {
    display: flex;
    flex-direction: column;
  }

  .focus-horizontal .focus-title {
    min-width: 315px;
  }

  .focus-horizontal .focus-blocks {
    display: flex;
    flex-direction: row;
  }

  .focus-text__block {
    flex: 1;
  }

  .focus-image:nth-child(1) {
    width: 100%;
    height: 100%;
  }

  .focus-image:nth-child(2) {
    width: 100%;
    height: 100%;
  }

  .focus-image:nth-child(3) {
    width: 100%;
    height: 100%;
  }

  .focus-image:nth-child(4) {
    width: 100%;
    height: 100%;
  }

  .focus-image:nth-child(5) {
    width: 100%;
    height: 100%;
  }

  .focus-footer__text {
    text-shadow: 2px 2px 0px var(--title-text-shadow-color);
  }
}