:root {
  --background-color: #000028;
  --text-block-color: #f1b2ce;
  --header-title-text-color: #db00ff;
  --title-text-decor-color: #000028;
  --accent-color: #ff0070;
  --block-title: #ff0070;
  --navigation-text-color: #ff0070;
  --navigation-text-color-hover: #ff007066;
  --decorated-zone-color: #ff0070;
  --title-text-shadow-color: #ff0070;

  --header-text-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

@media (width >= 768px) {
  :root {
    --header-text-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}